{% extends 'main.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 text-center">
    <h3>Delete Backpack</h3>

    <form action="" method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete {{backpack.name}}?</p>
      <input type="submit" class="btn btn-danger text-center" value="Delete Backpack">
    </form>
  </div>
  <div class="col-lg-2"></div>
</div>
{% endblock %}
