{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>Edit backpack</h1>
      <form action="" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{hidden}}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
          {% if field is not form.public %}
            <label>
              {{ field.label_tag }}
            </label>
            {{ field }}
            <p class="help-block text-danger"></p>
          {% else %}
            <div class="input-group">
              <span class="input-group-addon">
                {{field}}
              </span>
              <input class="form-control" type="text" readonly="" placeholder="Make public?">
            </div>
          {% endif %}
          </div>
        </div>
        {% endfor %}

        <br>
        <div class="row">
          <div class="form-group col-xs-12">
            <button class="btn btn-default" type="submit">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Create new Backpack">
</form>
