{% extends "main.html" %}

{% block content %}

<div class="row">
    <h1 class="text-center">List of saved backpacks</h1>
    <hr>
</div>

{% for backpack in backpacks %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <a href="{% url 'myBackpack:my-notes' backpack.pk %}">
            <h2>{{ backpack.name }}</h2>
        </a>
        <i>{{ backpack.description }}</i>

        {% if backpack.public %}
        <p><b>This backpack is public</b></p>
        {% else %}
        <br>
        {% endif %}

        <a class="pull-right" href="{% url 'myBackpack:delete-backpack' backpack.pk %}">Delete Backpack</a>
        <hr>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endfor %}
{% endblock %}
