{% extends 'main.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1 class="text-center">Notes saved in {{ backpack.name }}</h1>
        <p class="text-center">{{ backpack.description }}</p>
        <i><a href="{% url 'myBackpack:edit-backpack' backpack.pk %}">Edit Backpack</a></i>
        <i><a href="{% url 'myBackpack:create-note' backpack.pk %}" class="pull-right">New note</a></i>
        <hr>
    </div>
    <div class="col-lg-2"></div>
</div>

{% for note in notes %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <a href="{% url 'myBackpack:detail-note' note.pk %}">
            <h2>{{ note.title }}</h2>
        </a>

        <i>{{ note.short_description }}</i>

        {% if note.public %}
        <p><b>This note is public</b></p>
        {% endif %}

        <a href="{% url 'myBackpack:delete-note' note.pk %}" class="pull-right">Delete note</a>
        <hr>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endfor %}
{% endblock %}
