{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Backpacks</title>

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

  {% block head %}
  {% endblock %}

</head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">My Backpack</a>
            </div>

            <div id="navbar-collapse-1" class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li {% if not new_backpack %}class="active"{% endif %}><a href="{% url 'myBackpack:my-backpacks' %}">My backpacks</a></li>
                    <li {% if new_backpack %}class="active"{% endif %}><a href="{% url 'myBackpack:create-backpack' %}">New backpack</a></li>
                </ul>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="">Welcome back, {{ user }}</a></li>
                    <li><a href="{% url 'userLogin:logout' %}">Logout</a></li>
                    {% else %}
                    <li {% if login %}class="active"{% endif %}><a href="{% url 'userLogin:login' %}">Login</a></li>
                    <li {% if register %}class="active"{% endif %}><a href="{% url 'userLogin:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static "js/jquery-3.1.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
