{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Register a new backpack</h1>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form action="" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                {% if field is not form.public %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% else %}
                <div class="input-group">
                    <span class="input-group-addon">{{ field }}</span>
                    <input class="form-control" type="text" readonly="" placeholder="Make public?">
                </div>
                {% endif %}
                {% endfor %}
                <br>
                <button class="btn btn-default" type="submit">Create new backpack</button>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}
