{% extends 'main.html' %}

{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1 class="text-center">{{ note.title|upper }}</h1>
        <p class="text-center">Created by <i>{{note.backpack.owner.userAttached.username}}</i> on <i>{{ note.creationDate|date:"F d, o" }}</i></p>
        {% if note.public %}
        <i><p class="text-center">This note is public</p></i>
        {% endif %}
        <hr>
        <p>{{ note.content|title }}</p>
      </div>
    </div>
  </div>
</article>
{% endblock %}

