{% extends 'main.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 text-center">
    <h2>User login</h2>
    <form action="" method="POST">
      {% csrf_token %}

      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-default">Log in</button>
    </form>
  </div>
  <div class="col-lg-8"></div>
</div>
{% endblock %}
